.git
.DS_Store
node_modules
backend
bin
*.zip
**/*.log
**/*.log.gz
**/*.db
**/*.db-*
**/*.sqlite*
**/*.secret
**/*.pem
**/*.key
**/*.tmp
**/*.download-*
**/logs
**/cache
**/.cache
**/bStats
proxy/plugins/eaglerxserver/settings.toml
proxy/plugins/eaglerxserver/drivers
proxy/plugins/eaglerxserver/eagcert
proxy/plugins/eaglerxserver/ice_servers.toml
proxy/plugins/eaglerxserver/pause_menu.toml
proxy/plugins/eaglerxserver/supervisor.toml
proxy/plugins/eaglerxserver/server_info*
proxy/plugins/eaglerxserver/test_image.png
